$gray: #b4b6b9;
$black: #0f0f0f;
$white: #ffffff;
$red: #ff3d00;
$yellow: rgb(246, 254, 0);
$blue: rgb(47, 127, 232);
$green: rgb(51, 224, 51);
$app-padding: 4px;
$app-margin: 4px;
$app-gap: 4px;
$app-border: 1px solid $gray;
$app-border-radius: 5px;
$app-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$font-size-title: 24px;
$font-size-normal: 14px;
$font-size-subtitle: 10px;